@{ ViewBag.Title = "Concessions Page"; }

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <center>
            <div class="form-group">
                <div class="col-md-10">
                    <h5>@Html.Label("Concessions Manager", new { style = "font-size:40px; color:##36e800" })</h5>
                </div>
            </div>
        </center>
    </div>

    <hr />

    <div class="form-horizontal">
        <center>
            <div class="form-group">
                <div class="col-md-10">
                    <font size="4" face="helvetica" color="black">
                        <div>This is the Concessions Manager Page</div>
                    </font>
                </div>
            </div>
        </center>
    </div>
}
@* +++ Buttons +++ *@
@using (Html.BeginForm("AddItem", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <center>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Add Item" class="btn btn-default" />
                </div>
            </div>
        </center>
    </div>
}
@using (Html.BeginForm("StorageView", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <center>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="View Storage" class="btn btn-default" />
                </div>
            </div>
        </center>
    </div>
}
