
@model BrookingsIndoorTrainingSystem.Models.ConcessionsModel


@{ ViewBag.Title = "Concessions Add Item"; }

@using (Html.BeginForm("ConcessionsAddItem", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <center>
            <div class="form-group">
                <div class="col-md-10">
                    <h5>@Html.Label("Concessions Add Item", new { style = "font-size:40px; color:##36e800" })</h5>
                    @*@/* green bar - Shelby */*@
                    <html>

                    <meta name="viewport" content="width=device-width, initial-scale=1">
                    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
                    <body>
                        <div class="w3-container">


                            <div class="w3-bar w3-border w3-green">
                                <div class="w3-bar-item"></div>

                            </div>

                        </div>
                    </body>
                </html>
                @*@/* end green bar - Shelby */*@

            </div>
        </div>
    </center>
</div>

<hr />

<div class="form-horizontal">
    <center>
        <div class="form-group">
            <div class="col-md-10">
                <font size="4" face="helvetica" color="black">
                    <div>Enter how many of the specified item you have added:</div>
                    <html>
                    <body>


                        @*input boxes to update items - shelby*@

                        <p>The select element defines a drop-down list:</p>




                        @*end input boxes to update items - shelby*@
                    </body>
                </html>

            </font>
        </div>
    </div>
</center>
</div>
}

