@* Added by Nate O'Meara *@
@* ++++++ INCLUDE MODEL TO CONTECT TO CONTROLLER --John ++++++*@
@model BrookingsIndoorTrainingSystem.Models.EquipmentModel
@* ++++++ INCLUDE MODEL TO CONTECT TO CONTROLLER --John ++++++*@

@{ ViewBag.Title = "Equipment add items"; }
@using BrookingsIndoorTrainingSystem.Controllers;
@using System.Data.Sql;
@using System.Data.SqlClient;
@using System.Web;



<!DOCTYPE html>
<html>
<head>
    <title>Customer Form</title>
</head>
<div class="form-horizontal">
    <center>
        <div class="form-group">
            <div class="col-md-10">
                <h5>@Html.Label("Equipment - Add Item", new { style = "font-size:40px; color:#36e800" })</h5>
                @*@/* green bar*/*@
                <html>

                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
                <body>
                    <div class="w3-container">


                        <div class="w3-bar w3-border w3-gray">
                            <div class="w3-bar-item"></div>



                        </div>

                       
                        


                            <div class="form-horizontal">
                                <form method="post">
                                    <fieldset>
                                        <label for="Item">Item Name</label>
                                        <input type="text" id="item" name="item" />
                                        <label for="quantity">Quantity (between 1 and 5):</label>
                                        <input type="number" id="quantity" name="quantity" min="1" max="5">
                                        <label for="Location">Item Location</label>
                                        <select id="Location" name="Location" />
                                            <option value="Field">Field</option>
                                            <option value="BatCage">Batting Cage</option>
                                            <option value="Track">Track</option>
                                            <option value="Storage">Storage</option>
                                        </select>
                                        <input type="submit" />
                                    </fieldset>
                                </form>
                            </div>


                            @{
                                if (IsPost)
                                {
                                    string error = "yo";

                                    string item = Request.Form["item"];
                                    int amount = Request.Form["quantity"].AsInt();
                                    string Location = Request.Form["Location"];

                                    string connectionString = @"Data Source=(localdb)\MSSQLLocalDB; Initial Catalog = BITS Database; Integrated Security = True; MultipleActiveResultSets = True; Application Name = EntityFramework";
                                    //SqlConnection connection = new SqlConnection(connectionString);

                                    string queryString = "Insert into Equipment([Name], Location, Amount) Values(@item, @Location, @Amount);";
                                    // SqlCommand command = new SqlCommand(queryString, connection);


                                    using (SqlConnection connection = new SqlConnection(connectionString))
                                    {
                                        //here is where we connect to the database and perform the SQL command
                                        SqlCommand command = new SqlCommand(queryString, connection);

                                        //thesee statements replace the @itemName and @itemAmount in the queryString with their appropriate variables
                                        command.Parameters.Add("@item", System.Data.SqlDbType.VarChar, 50).Value = item;
                                        command.Parameters.Add("@Location", System.Data.SqlDbType.VarChar, 50).Value = Location;
                                        command.Parameters.Add("@Amount", System.Data.SqlDbType.Int).Value = amount;

                                
                                        command.Connection.Open();
                                        command.ExecuteNonQuery();
                                    }



                                    <div class="col-md-10">
                                        <text align="left">
                                            You added: <br />
                                            Item: @item <br />
                                            Amount: @amount <br />
                                           
                                        </text>

                                        



                                    </div>
                                   





                                }
                            }

                    </div>
                </body>
            </html>
            @*@/* end green bar*/*@

        </div>
    </div>
</center>
</div>

</html>





