
@{
    ViewBag.Title = "ScheduleUpdateEmployeeView";
}

@* ++++++ INCLUDE MODEL TO CONTECT TO CONTROLLER --John ++++++*@
@*@model BrookingsIndoorTrainingSystem.Models.ScheduleModel*@
@model BrookingsIndoorTrainingSystem.Models.ScheduleModel
@* ++++++ INCLUDE MODEL TO CONTECT TO CONTROLLER --John ++++++*@
<html>
<head>
    <style>
        .button {

            border-radius: 10px;
            background: #ffffff;
            box-shadow: 20px 20px 30px #d1d1d1, -20px -20px 30px #ffffff;
            border: solid;
            border-width: thin;
            color: black;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 13px;
            margin: 4px 2px;
            cursor: pointer;

            /* Inne button */
            @*border-radius: 10px;
            background: linear-gradient(145deg, #e6e6e6, #ffffff);
            box-shadow: 20px 20px 30px #d1d1d1, -20px -20px 30px #ffffff;
            border: none;
            color: black;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 13px;
            margin: 4px 2px;
            cursor: pointer;*@
        }
    </style>
</head>
<body>


</body>
</html>

@using (Html.BeginForm("FundsUpdate", "Home", new { location = "Concessions" }, FormMethod.Post))
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">
        <center>
            <div class="form-group">
                <div>
                    <h5>@Html.Label("Schedule: Update Employee", new { style = "font-size:40px; color:#36e800" })</h5>

                    @*@/* green bar - Shelby */*@
                    <html>

                    <meta name="viewport" content="width=device-width, initial-scale=1">
                    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
                    <body>
                        <div class="w3-container">


                            <div class="w3-bar w3-border w3-gray">
                                <div class="w3-bar-item"></div>

                            </div>

                        </div>
                    </body>
                </html>
                @*@/* end green bar - Shelby */*@

            </div>
        </div>
    </center>
</div>

<hr />

<div class="form-horizontal">

    <div class="form-group">
        <div class="col-md-10">
            <font size="4" face="helvetica">
                <h3 class="left">
                    Enter in who you would like to work:
                </h3>
                <h2 class="left" style="color:#36e800;">
                    &nbsp; Employee @*@Model.Concessions*@
                </h2>
                <html>
                <body>


                    @*input boxes to update items - shelby*@
                    <div class="form-horizontal">


                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Concessions, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Concessions, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="col-md-8">
                                <input type="submit" value="Submit" class="button" />
                            </div>
                        </div>
                    </div>



                    @*end input boxes to update items - shelby*@
                </body>
            </html>

        </font>
    </div>
</div>

</div>
}