@model List<BrookingsIndoorTrainingSystem.Models.ConcessionsModel>



@using (Html.BeginForm("ConcessionsEditItemView", "Home", FormMethod.Post))
{
    <h1>Concessions Storage</h1>

<table>
    <tr>
        <th>Item</th>
        <th>Amount</th>
        <th>Location</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            
            <td>@Html.ActionLink(item.itemName, "ConcessionsEditItemView", "Home", new { itemName = item.itemName }, null ) </td>
            <td>@item.itemAmount</td>
            <td>@item.itemLoc </td>

        </tr>
    }
</table>


}