@model List<BrookingsIndoorTrainingSystem.Models.ConcessionsModel>



@using (Html.BeginForm("ConcessionsEditItemView", "Home", FormMethod.Post))
{
    <h2>@Html.Label("Concessions Storage", new { style = "font-size:40px; color:#36e800" })</h2>
    @*@/* green bar - Shelby */*@
    <html>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <body>
        <div class="w3-container">


            <div class="w3-bar w3-border w3-gray">
                <div class="w3-bar-item"></div>

            </div>

        </div>
    </body>
</html>
@*@/* end green bar - Shelby */*@
<table>
    <tr>
        <th>Item &nbsp;</th>
        <th>Amount &nbsp;</th>
        <th>Location &nbsp;</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>

            <td>@Html.ActionLink(item.itemName, "ConcessionsEditItemView", "Home", new { itemName = item.itemName, id = item.id }, null) &nbsp;</td>
            <td>@item.itemAmount &nbsp;</td>
            <td>@item.itemLoc &nbsp;</td>


        </tr>
    }
</table>


}