@model List<BrookingsIndoorTrainingSystem.Models.ConcessionsModel>


<h1>Student</h1>

<table>
    <tr>
        <th>Item</th>
        <th>Amount</th>
        <th>Location</th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.itemName</td>
    <td>@item.itemAmount</td>
    <td>@item.itemLoc     <input type="submit" value="Edit" class="btn btn-default" height="10" width="20" /></td>
    
</tr>
    }
</table>


